header{
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    align-content: center;
    margin-left: 2vh;
  
  
  }

  

  a {
    text-decoration: none;
  }
 
  .logo {
    width: 200px;
  }
  

  .logo img
  {
    left: 3vw;
    top:2vh;
    width: 180px;
  }
    
/*navbar*/
.topnav {
  margin-top:2vh;
  margin-right:2vw;
  overflow: hidden;
  display: flex;
  background-color: #34354D;
  border-radius: 50px;
  padding: 7px 10px;
  margin-bottom: 10px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 40px;
  margin-left: 0px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
}

.topnav a:first-child{
  margin-right: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #6E6F91;
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: #F2F2F2;
  background-color: #8D91FB;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  font-size: 3vh;
  padding: 2vh;
}

#exit {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .logo img
  {
    left: 3vw;
    top:2vh;
    width: 140px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {

.topnav {
  border-radius: 200px;
  padding: 5px 5px;

}

  .topnav.responsive {
      position: absolute;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;      
      align-items: center;
      align-content: stretch;
      right: 0;
      top: 0;
      z-index: 2;
      background-color:rgba(24,20,35,0.9);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      width: 100%;
      height: 100%;
      border-radius: 0px;


  }

  .topnav.responsive #menu{
    display: none;  
    }

  .topnav.responsive #exit{
  display: block;  
  }

  .topnav.responsive a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 50px;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;

  }

  .topnav.responsive a:hover {
    background-color: rgba(0,0,0,.0);

  }

  .topnav a.active {
    background-color: rgba(0,0,0,.0);
    color:#8D91FB;
  }
    
  .topnav.responsive a.icon {
    display: flex;
    right: 0;
    top: 0;
    background-color: #34354D;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  
  
  body{
      background-color: #141220;
      height: 90%;
  
  }
  
  /*Logo*/
  h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 4vh;
      font-weight: bold;
      color: white;
      margin-left: 2vw;
  }
  
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-left: 1vw;
    margin-bottom: 30px;

}

    .content {
        display: flex;
        justify-content: center;
    }

  

  .content-wrapper {
      margin-top: 30px;
      background-color: #1D1D2D;
      border-radius: 15px;
      color: white;
      max-width: 500px;
      width: 80%;
      padding: 30px;
      margin: 30px;
  }

  .button {
    border: solid 1px #8D91FB;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color:#8D91FB;
    border-radius: 10px;
    padding: 20px 10px;
    transition: all 0.3s ease-out;
    max-width: 400px;
    margin: auto;
    margin-top:20px;
    margin-bottom: 50px;
  }
  
  .button:hover {
    background-color: #8D91FB;
    color: #ffffff;
    transform: scale(1.03);
    cursor: pointer;
  
  }

  @media screen and (max-width: 600px) {
    
    .content {
      display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
     .content-wrapper {
         width: 80%;
         padding: 30px;
         margin-top: 20px;
     }
 }
  .item{
      width: 90%;
      margin-top: 10px;
      border-radius: 15px;
      background-color: #1D1D2D;
      padding: 20px ;
      transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .item-content {
    display: flex;

  }

  .item:hover {
    background-color: #34354D;
    transform: scale(1.01);
    cursor: pointer;
  }

  .item-more-info{
      
      display: none;
      width: 100%;
      font-family: 'Roboto', sans-serif;
      line-height: 1.7em;
  }

  .item.open{
      background-color: #34354D;
      transition: all 0.2s ease-in-out;

}
   
.item.open .item-more-info{
        display: block;
       
    }

  .item img {
      width: 55px;
      height: 55px;
      border-radius: 7px;
      box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
      object-fit: contain;
    }

    .item-icon {
        display: flex;
        padding-right: 30px;

    }

    .item-info {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: space-between;
    }

    
    .item-info p {
        color: white;
        margin-block-start: 1px;
        margin-block-end: 5px;
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.4rem;
    }

    .item-info p:first-child {
        font-size: 0.9rem;
        text-transform: uppercase;    
        letter-spacing: .1rem;
        font-weight: 500;
        color: #9393AC;
        margin:0;
        margin-bottom: 3px;
    }