body{
    margin:auto;
    width:95%;
    background-color: #1B1823;
    padding: 1vh;
    overflow-x: hidden;

}

.content{
    margin:auto;
    background-color: #2E2A39;
    border-radius: 16px;
    list-style: none;
    width: 90%;
    max-width: 800px;
    padding: 2vh;
    position: relative;
}

.content img {
    width: 100%;
    border-radius: 12px;
}

ul {
    list-style: none;
    padding: 0;
} 


h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    font-weight: bold;
    padding: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    font-weight: thin;
    color: #87848E;
}

.back-cta {
    background-color: rgba(46, 42, 57, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vh;
    text-decoration: none;
    color: #B9B9B9;
    border-radius: 10px;
    padding: 1vh 2vh;
    position: absolute;
    top:0;
    left:-10vh;
    transition: all 0.3s ease-out;
}

.back-cta:hover{
    background-color: rgba(46, 42, 57, 1);
    color: white;
    transform: scale(1.1);
}


@media only screen and (max-width: 1100px) {
    .back-cta {
      
        left:3vh;
        top: 3vh;
    }
}

.content-grid2{
        background-color: #3B3647;
        border-radius: 16px;
        padding: 2vh;
    }

#content-grid-button{
    background-color: rgba(46, 42, 57, 0);
    padding:0;
    }

@media only screen and (min-width: 800px) {

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(1, auto);
        grid-gap: 30px;
    }

    .content-grid1 {
        grid-column: 1;
    }

    .content-grid2 {
        grid-column: 2;
    }
    
   
}

@media only screen and (max-width: 799px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, auto);
        grid-gap: 30px;    }

    .content-grid1 {
        grid-column: 1;
    }
    .content-grid2 {
        grid-column: 1;
    }
    
    .grid-img {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, auto);
        grid-gap: 20px;
        }
  }
  
  .img-ingrid{
    background-color: #3B3647;
    border-radius: 16px;
    margin-top: 2vh;
    transition: all 0.4s ease-in-out;
    position: relative;

    }

    .img-ingrid:hover{
        filter: brightness(50%);
        transform: scale(1.02);

    }

    .zoom {
        position: absolute;
        left: 0;
    }


  @media only screen and (min-width: 1000px) {
    .grid-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(1, auto);
        grid-gap: 20px;
        }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
    .grid-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1, auto);
        grid-gap: 20px;
        }
}

.information-item p {
    color: white;
    margin-block-start: 1px;
    margin-block-end: 5px;
}

.information-item p:first-child {
    font-size: 1.6vh;
    text-transform: uppercase;    font-weight: thin;
    color: #87848E;
}

.information-item {
    padding: 1vh;
    display: flex;
    align-items: flex-start;

}

.information-box-icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #6E6347;
    margin-right: 2vh;
    margin-top:2px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.information-icon {
    width: 22px;
    height: 22px;
    background-color: #FBD572;
    border-radius: 6px;
 
}

.button {
    border: solid 1px #FBD572;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vh;
    text-align: center;
    text-decoration: none;
    color: #FBD572;
    border-radius: 10px;
    padding: 1.5vh 2vh;
    margin-top: 2vh;
    transition: all 0.3s ease-out;
}

.button:hover {
    background-color: #FBD572;
    color: #161220;
    transform: scale(1.03);
}