body{
    margin:auto;
    width:1000px;
    background-color: #1B1823;

}

.content{
    background-color: #2E2A39;
    border-radius: 16px;
    list-style: none;
    width: 100%;
    max-width: 880px;
    padding: 20px;
    margin:20px;
    float: left;

}

.content img {
    width: 800px;
    border-radius: 12px;
    padding: 10vh;
}

