body{
    margin:auto;
    width:100%;
    background-color: #1B1823;
    padding: 1vh;

}

.content{
    margin:auto;
    background-color: #2E2A39;
    border-radius: 16px;
    list-style: none;
    width: 90%;
    max-width: 880px;
    padding: 2vh;
}

.content img {
    width: 100%;
    border-radius: 12px;
}

ul {
    list-style: none;
    padding: 0;
} 


h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    font-weight: bold;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    font-weight: thin;
    color: #87848E;
}

.back-cta {
    background-color: #5D63FF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vh;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 1vh 2vh;
    margin-top: 3vh;
    margin-left: 6vh;
}

.content-grid2{
        background-color: #3B3647;
        border-radius: 16px;
        padding: 2vh;
    }

@media only screen and (min-width: 600px) {

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(1, auto);
        grid-gap: 20px;
    }

    .content-grid1 {
        grid-column: 1;
    }

    .content-grid2 {
        grid-column: 2;
    }
    
   
}

@media only screen and (max-width: 599x) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, auto);
        grid-gap: 20px;    }

    .content-grid1 {
        grid-column: 1;
    }
    .content-grid2 {
        grid-column: 1;
    }
    
    .grid-img {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, auto);
        grid-gap: 20px;
        }
  }
  
  .img-ingrid{
    background-color: #3B3647;
    border-radius: 16px;
    margin-top: 2vh;
    transition: all 0.4s ease-in-out;
    position: relative;

    }

    .img-ingrid:hover{
        filter: brightness(50%);
        transform: scale(1.02);

    }

    .zoom {
        position: absolute;
        left: 0;
    }


  @media only screen and (min-width: 1000px) {
    .grid-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(1, auto);
        grid-gap: 20px;
        }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
    .grid-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1, auto);
        grid-gap: 20px;
        }
}