<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" media="screen" type="text/css" href="project.css"/>
</head>
<body>
  

    <div id="app">
        <ul>
            <li class="content" v-for="item in items">
                <img :src="item['fields']['Photo'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Photo']" width="150">
                <a class ="back-cta" href="test-slider.html">back</a>
                <div class="grid">
                    <div class="content-grid1">
                        <h1>{{ item['fields']['Item'] }}</h1>
                    </div>
                    <div class="content-grid2" id="content-grid-button">
                        <div class="button"> voir le projet</div>
                    </div>
                </div>
                <div class="grid">
                    <div class="content-grid1">
                      <p>{{ item['fields']['Description'] }}</p>
                    </div>
                    <div class="content-grid2">

                        <div class="information-item">
                            <div class="information-box-icon">
                                <div class="information-icon"></div>
                            </div>
                            
                            <div>
                                <p>Date</p>
                                <p>{{ item['fields']['Date'] }}</p>
                             </div>
                        </div>

                        <div class="information-item">
                            <div class="information-box-icon">
                                <div class="information-icon"></div>
                            </div>
                            <div>
                                <p>Role</p>
                                <p>{{ item['fields']['Role'] }}</p>
                             </div>
                        </div>

                        <div class="information-item">
                            <div class="information-box-icon">
                                <div class="information-icon"></div>
                            </div>
                            <div>
                                <p>Client</p>
                                <p>{{ item['fields']['Client'] }}</p>
                             </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="grid-img">

                    <div class="img-ingrid">
                        <img :src="item['fields']['Image1'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Image1']">
                        
                        
                    </div>

                    <div class="img-ingrid">
                        <img :src="item['fields']['Image1'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Image1']">
                    </div>

                    <div class="img-ingrid">
                        <img :src="item['fields']['Image1'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Image1']">
                    </div>

                </div>

                <p><strong>Category: </strong>{{ item['fields']['Category'] }}</p>
            </li>
        </ul>            
    </div><!--app-->
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function(){
               this.loadItems(); 
            },
            methods: {
                loadItems: function(){
                    
                    // Init variables
                    var self = this
                    var app_id = "appp3inudTpJ0e3zO";
                    var app_key = "keyu3FcfOEwGkjLYt";
                    this.items = []
                    
axios.get("https://api.airtable.com/v0/"+app_id+"/Sakana?view=Grid%20view",
                        { 
                            headers: { Authorization: "Bearer "+app_key }
                        }
                    ).then(function(response){
                        self.items = response.data.records
                    }).catch(function(error){
                        console.log(error)
                    })
                }
            }
        })
    </script>
</body>
</html>

