.card {
    border: solid 1px #4B79FF;
    border-radius: 2px;
    list-style: none;
    width: 250px;
    margin:20px;
    float: left;
    padding :20px;
    box-shadow: 0px 0px 0px #4B79FF;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.card:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    box-shadow: -10px 10px 0px #4B79FF;
    opacity: 1;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.card img {
    width: 250px;
    height: 150px;
    border-radius: 2px;
}


.button {
    background-color: #4B79FF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    padding: 10 25;
    float: right;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #4B79FF;

}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;;


}