
body{
    background-color: #3D4650;
    height: 80vh;

}

.wrapper {
    width: 100%;
    overflow-x:scroll;
    white-space: nowrap;
    float:left;
    position: relative;
    overflow-x:scroll;
  }
  
  .item {
    display: inline-block;
    list-style: none;
    padding-right: 3%;
    
  }

  .item img{
    height: 80vh;
    width: 38vh;
    object-fit: cover;
    border-radius: 5px;
    transition: width 1s ease-in-out;

  }

  .item img:hover{
    width: 50vh;

  }

  .content{

  }
  

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    font-weight: bold;
    color: white;
    margin-top: -65px;
    margin-left: 25px;
    box-shadow: -10px 5px 5px black;
  
  }

