
body{
    background-color: #3D4650;
    height: 80vh;

}

.wrapper {
    width: 100%;
    overflow-x:scroll;
    white-space: nowrap;
    float:left;
    position: relative;
    overflow-x:scroll;
  }
  
  .item {
    display: inline-block;
    list-style: none;
    padding-right: 2%;
    
  }

  .item img {
    max-height: 80vh;
    max-width: 75vh;
    border-radius: 5px;
  }

  .content{

  }
  

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-top: -60px;
    margin-left: 20px;
    width: 40px;
  }

