<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" media="screen" type="text/css" href="teststyle.css"/>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    
    <header>
        <h1> LOGO </h1>
        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">projects.</a>
            <a href="#news">about.</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class='bx bx-menu-alt-right' id="menu"></i>
                <i class='bx bx-x' id="exit"></i>
            </a>
        </div>
    </header>



    <div  id="app" class="wrapper">
        <ul>
        <li class="item" v-for="item in items">
            <div class="image-wrapper"><img :src="item['fields']['Photo'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Photo']"></div>

            <div class="content">
                <h3>{{ item['fields']['Item'] }}</h3>
                <a class="button" :href="item['fields']['URL']"> voir plus</a>
            </div>
           
        </li>
       
    </ul>
      
      </div>

    <script type="text/javascript" src="https://unpkg.com/vue"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script type="text/javascript">
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        }
    </script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function(){
               this.loadItems(); 
            },
            methods: {
                loadItems: function(){
                    
                    // Init variables
                    var self = this
                    var app_id = "appp3inudTpJ0e3zO";
                    var app_key = "keyu3FcfOEwGkjLYt";
                    this.items = []
axios.get(
                        "https://api.airtable.com/v0/"+app_id+"/Menu?view=Grid%20view",
                        { 
                            headers: { Authorization: "Bearer "+app_key } 
                        }
                    ).then(function(response){
                        self.items = response.data.records
                    }).catch(function(error){
                        console.log(error)
                    })
                }
            }
        })
    </script>
</body>
</html>

